.button__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: var(--spacing-small) var(--spacing-large);
    box-sizing: border-box;

    border-radius: var(--border-button);
    text-decoration: none;
    cursor: pointer;
}

.button__text {
    font-family: "Roboto-Medium";
    font-size: var(--font-14);
    color: var(--white);
}