.App-header {
    background-color: var(--red);
    min-height: 90vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-family: RockSalt-Regular;
    color: var(--white);
  }