.modal__container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.modal__contents {
  position: absolute;
  flex: 1;
  background-color: var(--white);
  padding: var(--spacing-regular) var(--spacing-medium);
  z-index: 1;
  border-radius: var(--border-modal);
}
